/* Empty. Add your own CSS if you like */
.image-rounded{
  border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px gray;
    max-height: 50px!important;
    max-width: 50px!important;
}

.item-thumbnail-left, .item-thumbnail-left .item-content{
  min-height:70px;
  padding-left: 75px
}
.button-shadow{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  padding: 0px 15px;
}
